<!doctype html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div style="width: 33%; float: left; height: 250px">
    Insert user
    <form method="post" th:action="@{/register/user}" th:object="${user}" action="#">
        <div class="inputValues">
            name
        </div>
        <input type="text" name="name" field="*{name}">

        <div class="inputValues">
            surname
        </div>
        <input type="text" name="surname" field="*{surname}">

        <div class="inputValues">
            age
        </div>
        <input type="text" name="age" field="*{age}">

        <div class="inputValues">
            <input type="submit" style="width: 20%;margin-left:auto;margin-right:auto;" value="Register">
        </div>
    </form>
    </div>
    <div style="width: 33%; float: left; height: 250px">
    Insert category
    <form method="post" th:action="@{/register/category}" th:object="${userDTO}" action="#">
        <div class="inputValues">
            name
        </div>
        <input type="text" name="name" field="*{name}">

        <div class="inputValues">
            <input type="submit" style="width: 20%;margin-left:auto;margin-right:auto;" value="Register">
        </div>
    </form>
    </div>
    <div style="width: 33%; float: left; height: 250px">
    Insert product
    <form method="post" th:action="@{/register/product}" th:object="${userDTO}" action="#">
        <div class="inputValues">
            name
        </div>
        <input type="text" name="name" field="*{name}">

        <div class="inputValues">
            price
        </div>
        <input type="number" name="price" field="*{age}">

        <div class="inputValues">
            category id
        </div>
        <input type="number" name= "id" field="id" th:attr="name = 'id'">

        <div class="inputValues">
            <input type="submit" style="width: 20%;margin-left:auto;margin-right:auto;" value="Register">
        </div>
    </form>
    </div>
    <div style="width: 33%; float: left; height: 250px">
    <table>
        User list
        <tr th:each="user: ${users}">
            <td th:text="${user.name}" />
            <td th:text="${user.surname}" />
        </tr>
    </table>
    </div>
    <div style="width: 33%; float: left; height: 250px">
        <table>
            Category list
            <tr th:each="category: ${categories}">
                <form method="post" th:action="@{/delete/category}" th:object="${x}" action="#">
                    <td th:text="${category.id}" />
                    <td th:text="${category.name}" />
                    <input  type="hidden" th:value="${category.id}" th:attr="name = 'id'">
                    <td><input type="submit" value="Delete category"></td>
                </form>
            </tr>
        </table>
    </div>
    <div style="width: 33%; float: left; height: 250px">
        <table>
            Product list
            <tr th:each="product: ${products}">
                <form method="post" th:action="@{/delete/product}" th:object="${x}" action="#">
                    <td th:text="${product.id}" />
                    <td th:text="${product.name}" />
                    <td th:text="${product.price}" />
                    <td th:text="${product.category.name}" />
                    <input  type="hidden" th:value="${product.id}" th:attr="name = 'id'">
                    <td><input type="submit" value="Delete category"></td>
                </form>
            </tr>
        </table>
    </div>
    <div style="width: 33%; float: left; height: 250px">
        Update product
        <form method="post" th:action="@{/edit/category}" action="#">
            new name of category
            <input type="text" name= "name" field="name" th:attr="name = 'name'">
            id
            <input type="number" name= "id" field="id" th:attr="name = 'id'">

            <div class="inputValues">
                <input type="submit" style="width: 20%;margin-left:auto;margin-right:auto;" value="Register">
            </div>
        </form>
    </div>
</body>
</html>